# Dependencias
node_modules/

# Archivos de registro/errores. Logs
logs
*.log
npm-debug.log*

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# # Archivos de entorno (contraseñas y llaves). Variables de entorno  (por si es requerido usarlas en el futuro)
.env
.env.local

# Carpeta de producción (En caso de que llegue a usarse TypeScript o frameworks)
dist/
build/

